body {
    background-color: #f3f4f6;
  }

  #container {
    padding: 30px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 0 3px 3px #dad0d0;
  }

  #container > h2,
  h3 {
    color: black;
  }

  #container > h2 {
    font-size: 2em;
    color: red;
  }